<md-nav-list fxLayout="column" fxLayoutAlign="start stretch">
  <a md-list-item *ngFor="let delivery of deliveries"
    (click)="selected.emit(delivery); $event.stopPropagation()">
    <h3 md-line fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        <span>{{delivery.carrier}}</span>
        <span class="sidenav-supplier" *ngIf="delivery.carrier && delivery.supplier"> ({{delivery.supplier}})</span>
      </span>
      <span style="margin-left:0.5em"*ngIf="delivery.quantity"> [{{delivery.quantity}}]</span>
    </h3>
    <p md-line *ngIf="delivery.timeslotBegin && delivery.timeslotEnd">
      <span>{{delivery.timeslotBegin | date:'shortTime'}} - {{delivery.timeslotEnd | date:'shortTime' }} </span>
    </p>
  </a>
</md-nav-list>