<div class="app-content">
  <md-card class="app-input-section">
    <md-card-subtitle>{{delivery.quantity}} entities from {{delivery.supplier}}</md-card-subtitle>
    <md-card-title>{{delivery.carrier}}</md-card-title>
    <md-card-content>
      <md-tab-group>
        <md-tab label="Information">
          <div class="flex-container" fx-layout="row" fx-layout-wrap="wrap" fx-layout-align="start center">
            <md-input placeholder="Title" [(ngModel)]="delivery.title"></md-input>
            <md-input placeholder="Carrier" [(ngModel)]="delivery.carrier"></md-input>
            <md-input placeholder="Supplier" [(ngModel)]="delivery.supplier"></md-input>
            <md-input type="number" [(ngModel)]="delivery.quantity" placeholder="Quantity"></md-input>
            <md-checkbox [(ngModel)]="delivery.isRegistered">Registered</md-checkbox>
            <md-checkbox [(ngModel)]="delivery.isProcessed">Processed</md-checkbox>
          </div>
        </md-tab>
        <md-tab label="Deviations">
          <div class="flex-container" fx-layout="row" fx-layout-align="space-around">
            <md-input placeholder="Type of Deviation"></md-input>
            <md-input type="number" placeholder="# Missing EDI's"></md-input>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card-content>
    <md-card-actions>
      <button md-button>Submit</button>
    </md-card-actions>
  </md-card>
</div>