<md-sidenav-container class="my-container">
  <wp-toolbar (openList)=openSidenav()></wp-toolbar>
  <md-progress-bar mode="indeterminate" *ngIf="isLoading"></md-progress-bar>
  <wp-filter-bar *ngIf="filtersVisible"
    [filterGroups]="(model | async)?.filterGroups"
    [selectedYard]="(model | async)?.selectedYard"
    [yards]="(model | async)?.yards" 
    (updateFilter)="updateFilter($event)"
    (updateYardFilter)="updateYardFilter($event)"></wp-filter-bar>
  <md-sidenav #sidenav mode="push">
    <wp-delivery-list 
      (selected)="selectDelivery($event)"></wp-delivery-list>
  </md-sidenav>
  <div class="app-content">
    <wp-delivery-detail 
      [delivery]="(model | async)?.selectedDelivery"
      [deliveries]="(model | async)?.deliveries"
      [deviationTypes]="(model | async)?.deviationTypes"
      (updateDelivery)="updateDelivery($event)"
      (removeDelivery)="removeDelivery($event)"></wp-delivery-detail>
  </div>
</md-sidenav-container>
<span class="app-action" (click)="createDelivery()">
  <button md-fab><md-icon>add circle</md-icon></button>
</span>