.fill-remaining-space {
  flex: 1 1 auto;
}

html, body, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

/*.my-container md-sidenav {
  max-width: 250px;
}*/

.sidenav-supplier {
  color: rgba(0, 0, 0, 0.54);
}

.my-container .md-sidenav-content,
.my-container md-sidenav {
  display: flex;
  flex: 1;
}

.my-scrolling-content {
  overflow: auto;
}

flex-item {
  display: flex; 
  flex: 1;
}
