<md-toolbar color="primary">
  <span>
    <button md-button>{{title}}</button>
  </span>
  <span class="fill-remaining-space"></span>
  <span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item> Refresh </button>
      <button md-menu-item> Preferences </button>
      <button md-menu-item> About </button>
      <button md-menu-item disabled> Sign Out </button>
    </md-menu>
  </span>
</md-toolbar>

<md-sidenav-container class="my-container">
  <md-sidenav mode="side" opened="true">
    <app-delivery-list 
      [deliveries]="deliveries | async" 
      [processingFilter]="processingFilter | async"
      [registrationFilter]="registrationFilter | async"
      [yardFilter]="yardFilter | async"
      (selected)="selectDelivery($event)">
    </app-delivery-list>
  </md-sidenav>
  <div class="app-content">
    <md-card class="flex-container" fxLayout="row"
      fxLayoutAlign="space-around center">
      <md-select [(ngModel)]="selectedYard" placeholder="Filter Location"
        (ngModelChange)="updateYardFilter()">
        <md-option *ngFor="let yard of (yards | async)"
          [value]="yard">{{yard.name}}</md-option>
      </md-select>
      <md-select [(ngModel)]="processingStatus" placeholder="Filter Processed"
        (ngModelChange)="updateProcessingFilter(processingStatus)">
        <md-option *ngFor="let filter of processingFilters"
          [value]="filter.action">{{filter.friendly}}</md-option>
      </md-select>
      <md-select [(ngModel)]="registrationStatus" placeholder="Filter Registered"
        (ngModelChange)="updateRegistrationFilter(registrationStatus)">
        <md-option *ngFor="let filter of registrationFilters"
          value="{{filter.action}}">{{filter.friendly}}</md-option>
      </md-select>
    </md-card>
    <app-delivery-detail [delivery]="selectedDelivery | async "
      [deliveries]="deliveries | async"
      (updateDelivery)="updateDelivery($event)"
      (removeDelivery)="removeDelivery($event)"></app-delivery-detail>
  </div>

</md-sidenav-container>
<span class="app-action" (click)="createDelivery()">
  <button md-fab><md-icon>add circle</md-icon></button>
</span>