<div class="flex-container" fxLayout="row"
  fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
  <md-select placeholder="Filter Location"
    [(ngModel)]="selectedYard" 
    (ngModelChange)="updateYardFilter.emit(selectedYard)">
    <md-option *ngFor="let yard of yards"
      [value]="yard">{{yard.name}}</md-option>
  </md-select>
  <md-select placeholder="Filter Processed" 
    [(ngModel)]="processingFilter"
    (ngModelChange)="updateFilter.emit(processingFilter)">
    <md-option *ngFor="let filter of processingFilters"
      [value]="filter">{{filter.friendly}}</md-option>
  </md-select>
  <md-select placeholder="Filter Registered" 
    [(ngModel)]="registrationFilter"
    (ngModelChange)="updateFilter.emit(registrationFilter)">
    <md-option *ngFor="let filter of registrationFilters"
      [value]="filter">{{filter.friendly}}</md-option>
  </md-select>
  <md-select placeholder="Filter Deviations" 
    [(ngModel)]="deviationFilter"
    (ngModelChange)="updateFilter.emit(deviationFilter)">
    <md-option *ngFor="let filter of deviationFilterActions"
      [value]="filter">{{filter.friendly}}</md-option>
  </md-select>
</div>
