<div class="flex-container" fxLayout="row"
  fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
  <md-select placeholder="Filter Location"
    [(ngModel)]="selectedYard" 
    (ngModelChange)="updateYardFilter.emit(selectedYard)">
    <md-option *ngFor="let yard of yards"
      [value]="yard">{{yard.name}}</md-option>
  </md-select>
  <md-select placeholder="Filter Processed" 
    [(ngModel)]="processingStatus"
    (ngModelChange)="updateFilter.emit(processingStatus)">
    <md-option *ngFor="let filter of processingFilters"
      [value]="filter.action">{{filter.friendly}}</md-option>
  </md-select>
  <md-select placeholder="Filter Registered" 
    [(ngModel)]="registrationStatus"
    (ngModelChange)="updateFilter.emit(registrationStatus)">
    <md-option *ngFor="let filter of registrationFilters"
      value="{{filter.action}}">{{filter.friendly}}</md-option>
  </md-select>
</div>