<md-card *ngIf="delivery" class="app-input-section">
  <md-card-subtitle *ngIf="delivery.quantity">{{delivery.quantity}} entities from {{delivery.supplier}}
  </md-card-subtitle>
  <md-card-title>{{delivery.carrier || "New Delivery"}}</md-card-title>
  <form (ngSubmit)="updateDelivery.emit(delivery)"
    #deliveryDetailForm="ngForm">
    <md-card-content>
      <md-tab-group [selectedIndex]="selectedTabIndex">
        <md-tab label="Status">
          <wp-status-tab [status]="status$ | async"></wp-status-tab>
        </md-tab>
        <md-tab label="Yards">
          <wp-yards-tab [yardDeliveries]="yardDeliveries$ | async"
            (updateQuantity)="updateYardDelivery($event)"></wp-yards-tab>
        </md-tab>
        <md-tab label="Details">
          <wp-details-tab [delivery]="selectedDelivery$ | async"
            (updateDetails)="updateDelivery($event)"></wp-details-tab>
        </md-tab>
        <div *ngIf="delivery.deviations.length">
          <md-tab label="Deviations">
            <wp-deviations-tab [deviations]="deviations$ | async" [deviationTypes]="deviationTypes$ | async"></wp-deviations-tab>
          </md-tab>
        </div>
      </md-tab-group>
    </md-card-content>
    <md-card-actions>
      <button type="submit" md-button>Submit</button>
      <button *ngIf="!delivery.deviations.length"
        type="button" (click)="addDeviation()"
        md-button>Add Deviation</button>
      <button type="button" (click)="removeDelivery.emit(delivery)"
        md-button><md-icon>delete</md-icon></button>
    </md-card-actions>
  </form>
</md-card>