<md-card *ngIf="delivery" class="app-input-section">
  <md-card-subtitle *ngIf="delivery.quantity">{{delivery.quantity}} entities from {{delivery.supplier}}
  </md-card-subtitle>
  <md-card-title>{{delivery.carrier || "New Delivery"}}</md-card-title>
  <form (ngSubmit)="updateDelivery.emit(delivery)"
    #deliveryDetailForm="ngForm">
    <md-card-content>
      <md-tab-group [selectedIndex]="selectedTabIndex">
        <md-tab label="Status">
          <div class="flex-container" fxLayout="column">
            <md-slide-toggle class="form-control" [checked]="delivery.status.isRegistered"
              (change)="openSnackBar(delivery); delivery.status.setRegistered()"
              name="delivery.status.isRegistered">
              <span>{{delivery.status.registrationMessage}}</span>
            </md-slide-toggle>
            <md-slide-toggle class="form-control" [checked]="delivery.status.isProcessed"
              (change)="delivery.status.setProcessed()"
              name="delivery.status.isProcessed"
              [disabled]="!delivery.status.isRegistered">
              <span>{{delivery.status.processingMessage}}</span>
            </md-slide-toggle>
          </div>
          <div class="flex-container" fxLayout="column"
            *ngFor="let yardDelivery of delivery.yardDeliveries">
            <md-slide-toggle class="form-control" [checked]="yardDelivery.status.isRegistered"
              (change)="yardDelivery.status.setRegistered()"
              name="yardDelivery.status.isRegistered" 
              [disabled]="!delivery.status.isRegistered">
              <span>{{yardDelivery.status.registrationMessage}}</span>
            </md-slide-toggle>
            <md-slide-toggle class="form-control" [checked]="yardDelivery.status.isProcessed"
              (change)="yardDelivery.status.setProcessed()"
              name="yardDelivery.status.isProcessed" 
              [disabled]="!delivery.status.isRegistered">
              <span>{{yardDelivery.status.processingMessage}}</span>
            </md-slide-toggle>
          </div>
        </md-tab>
        <md-tab label="Yards">
          <div class="flex-container" fxLayout="column">
            <md-input *ngFor="let yardDelivery of delivery.yardDeliveries"
              class="form-control" type="number"
              [min]="0" [(ngModel)]="yardDelivery.quantity"
              name="quantity {{yardDelivery.yard.name}}"
              placeholder="Quantity {{yardDelivery.yard.name}}"></md-input>
          </div>
        </md-tab>
        <md-tab label="Details" class="flex-container">
          <div class="flex-container" fxLayout="column">
            <md-input-container>
              <input md-input class="form-control" placeholder="Carrier"
                required [newDeliveryFocus]="newDeliveryFocusEventEmitter"
                [(ngModel)]="delivery.carrier"
                name="carrier">
            </md-input-container>
            <md-input class="form-control" placeholder="Supplier"
              required [(ngModel)]="delivery.supplier"
              name="supplier"></md-input>
          </div>
        </md-tab>
        <div *ngIf="delivery.deviations.length">
          <md-tab label="Deviations">
            <md-list-item *ngFor="let deviation of delivery.deviations">
              <app-deviation [selectedDeviation]="deviation"
                [deviations]="delivery.deviations"
                [deviationTypes]="deviationTypes">
              </app-deviation>
            </md-list-item>
            <div class="flex-container" fxLayout="row"
              fxLayoutAlign="end">
              <button type="button" (click)="addDeviation()"
                md-button><md-icon>add</md-icon></button>
            </div>
          </md-tab>
        </div>
      </md-tab-group>
    </md-card-content>
    <md-card-actions>
      <button type="submit" [disabled]="!deliveryDetailForm.form.valid"
        md-button>Submit</button>
      <button *ngIf="!delivery.deviations.length"
        type="button" (click)="addDeviation()"
        md-button>Add Deviation</button>
      <button type="button" (click)="removeDelivery.emit(delivery)"
        md-button><md-icon>delete</md-icon></button>
    </md-card-actions>
  </form>
</md-card>