<div class="flex-container" fxLayout="row" fxLayoutAlign="space-between center">
  <md-input class="form-control" type="number" placeholder="Gravity" [(ngModel)]="selectedDeviation.gravity" name="gravity"
    ngDefaultControl></md-input>
  <md-select class="form-control" id="deviationType" name="type" placeholder="Type" required
    [(ngModel)]="selectedDeviation.type">
    <md-option *ngFor="let deviationType of deviationTypes" [value]="deviationType">{{deviationType.name}}</md-option>
  </md-select>
  <button type="button" (click)="removeDeviation()" md-button><md-icon>delete</md-icon></button>
</div>