<div class="flex-container" fxLayout="row"
  fxLayoutAlign="space-between center">
  <md-select placeholder="Type" required [(ngModel)]="selectedDeviation.type">
    <md-option *ngFor="let deviationType of deviationTypes"
      [value]="deviationType.name">
      {{deviationType.name}}
    </md-option>
  </md-select>
  <!--No [max]-binding, because it somehow breaks validation-->
  <md-input class="form-control" type="number"
    placeholder="Gravity" [min]="1"
    required [(ngModel)]="selectedDeviation.gravity"></md-input>
  <button type="button" (click)="removeDeviation()"
    md-button><md-icon>delete</md-icon></button>
</div>